{% extends "base/default.html" %}

{% block content %}
<main class="main-home">
  <div class="container">
    <div class="filter">
      <div class="filter-text">FILTER BY DATA TYPE</div>
      <div class="types">
          <a class="type" href="{% url 'home' %}?type=quality&q={{q}}">
            <div>quality</div>
          </a>
          <a class="type" href="{% url 'home' %}?type=stock&q={{q}}">
            <div>stock</div>
          </a>
      </div>
    </div>
    <div class="content">
      <div class="browse-upload-text">
        <div class="browse"></div> 
        <div class="browse">BROWSE DATASETS</div> 
        <div class="upload"><a href="upload/">UPLOAD A DATASET</a></div>
      </div>
      <div class="pagination">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?q={{ q }}&page=1">&laquo; first</a>
                <a href="?q={{ q }}&page={{ page.previous_page_number }}">previous</a>
            {% endif %}
            
            <span class="current-page">Page {{ page.number }} of {{ page.paginator.num_pages }}.</span>
            
            {% if page.has_next %}
                <a href="?q={{ q }}&page={{ page.next_page_number }}">next</a>
                <a href="?q={{ q }}&page={{ page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      </div>
      {% for dataset in page %}
        <div class="datasetss">
          <div class="data">
            <div class="title"><a href="/dataset/{{ dataset.id }}"> {{ dataset.title }}</a></div>
            <div class="overview">{{ dataset.overview }}</div>
          </div>
          <div class="datatype">
            DATA TYPE
          </div>
        </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?q={{ q }}&page=1">&laquo; first</a>
                <a href="?q={{ q }}&page={{ page.previous_page_number }}">previous</a>
            {% endif %}
            
            <span class="current-page">Page {{ page.number }} of {{ page.paginator.num_pages }}.</span>
            
            {% if page.has_next %}
                <a href="?q={{ q }}&page={{ page.next_page_number }}">next</a>
                <a href="?q={{ q }}&page={{ page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      </div>
    </div>
  </div>
  
</main>

{% endblock content %}